{% extends "layout.html" %}

{% block title %}
    Book Reviews
{% endblock %}

{% block body %}
    <a href="/"><h1 class="display-2">Book Reviews</h1><a>
    <br><br>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Register</a>
                </li>
            </ul>
        </div>
        
        <div class="card-body">
            
            <div id="wrapper">
                <p class="text-danger">{{ message }}</p>
                <form action="{{ url_for('signup') }}" method="post">
                    <input class="form-control" name="username" type="text" placeholder="username" required maxlength="30">
                        <br>
                    <input class="form-control" name="password" type="password" placeholder="password" required maxlength="30">
                        <br>
                    <button class="btn btn-primary" type="submit" style="width:100%;">Submit</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
